/* add roboto font */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

section {
    width: 100%;
    max-width: 1200px;
    height: 1000px;
    background: #C0DBD9;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-bottom: 15px;
}

.header__container {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

/*POP UP WINDOW */
.popup {
    display: none;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid white;
    width: 400px;
    height: 400px;
    background-color: white;
    color: black;
    font-family: Roboto;
    font-size: 53px;
    font-weight: 400;
    line-height: 62.11px;
    text-align: center;
  }





.popup:target {
display: block;
}

.popup-btn {
    margin-left: 50px;
    width: 206px;
    height: 39px;
    padding: 8px 15px 8px 15px;
    gap: 10px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    background: #A5C7F9;
    border: 1px solid #A5C7F9;
}

.popup-btn__link {
font-family: Roboto;
font-size: 20px;
/* font-weight: 400; */
line-height: 23.44px;
color: white;
text-decoration: none;
text-align: center;
}

.popup__text {
    margin-top: 100px;
    text-align: center;
    position: absolute;
    top: 70px;
    left: 118px;
}

.close-btn {
  text-align: center;
  text-decoration: none;
  width: 43px;
  height: 39px;
  padding: 8px 15px 8px 15px;
  color: white;
  /* gap: 10px; */
  border-radius: 5px;
  background-color: #7FAFF6;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #7FAFF6;
  }

.header__container,
.footer__container {
    width: 100%;
    background: #7FAFF6;
    max-width: 1170px;
    height: 100px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 390px 590px 160px;
    grid-template-rows: auto auto;
    gap: 15px;
    width: 1170px;
    height: 411px;
    background: #B3F95A;
  }

  .grid-item {
    background: #8AD191;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Roboto;
    font-size: 53px;
    font-weight: 400;
    line-height: 62.11px;
    color: white;
  }

  .grid-item:nth-child(4) {
    grid-column: span 2; /* Элемент занимает 2 колонки */
  }

  .grid-item:nth-child(5) {
    grid-column: span 1;
  }

  .flex-box {
    padding-top: 15px;
    padding-bottom: 100px;
  }

 .flex-box__wrapper {
    width: 1170px;
    height: 259px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #88B5BF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.wrapper__item {
   background: #0D89B0;
   width: 255px;
   height: 199px;
}

.grid-item-one::before {
  content: "1";
}

.grid-item-two::before {
  content: "2";
}

.grid-item-three::before {
  content: "3";
}

.grid-item-four::before {
  content: "4";
}

.grid-item-five::before {
  content: "5";
}

.footer {
  width: 100%;
  max-width: 1200px;
  background: #C0DBD9;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}













